:root {
  --main-color: #0b0b0b;
}

.link {
  //netflix navbar link style should be
  color: whitesmoke;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: white;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
